.container {
    display: flex;
    justify-content: center;
}
.cento-header {
    background-color: #ffc300;
}

.imglogo {
    margin-top: 20px;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.LastItem {
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    color: black;
    text-transform: uppercase;
    letter-spacing: .07em;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.LastItem:hover{
    color: black;
    text-decoration: none;
}

.Logoletter  {
color: black;
text-align: center;
letter-spacing: .04em;
font-family: 'Quattrocento Sans', sans-serif;
font-size: 40px;
font-weight: 700;
line-height: normal;
text-decoration: none;
}

.footericon{
    margin-top: 20px;
    width: 28px;
    height: 30px;
    margin-right: 5px;
}

.table{
    display: flex;
    justify-content: center;
    border-collapse: collapse;
}

.table th {
    background-color: black;
    color: white;
    text-align: center;
    opacity: 0.8;
}

.table tr:hover {
    background-color: #ddd;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 47%;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }

  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 50%;
    max-width: 1200px;
  }
  
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  .cursor {
    cursor: pointer
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  img {
    margin-bottom: -4px;
  }
  
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }